</body>
<footer>
  <div class="footer-content">

       <div class="footer-info">
        <img class="mylogo" src="/images/Untitled-11 (1).webp">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed</p>
      </div>

      <div class="footer-menu">
        <p>Quick Links</p>
        <ul class="mobile-menu-list">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
       </div>

       <div class="footer-form">
        <p>newslatter</p>
        <form action="/subscribe" method="POST">
          <input type="email" name="email" placeholder="Enter your email" required>
          <button type="submit">Subscribe</button>
        </form>
       </div>
 </div>
 <div class="copyright-info">
  <p>©2023 Zufaa® | All Rights Reserved</p>
 </div>




</footer>
<script src="/js/mobile.js"></script> <!-- Mobile-specific JavaScript -->
<script src="https://kit.fontawesome.com/your-fontawesome-kit.js"></script>