<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags and title -->
   
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mobile.css"> 
</head>
<body>
    <div>
        <div class="navbar">
          <div class="logo">
            <img class="mylogo" src="/images/Untitled-11 (1).webp">
          </div>
          <div class="navmenu">
            <div class="hamburger-menu" id="hamburger-menu">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
            <div>
            <ul class="menu-list" id="menu-list">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
          </div>
        </div>
    </div>

    <script src="/js/mobile.js"></script> <!-- Mobile-specific JavaScript -->
</body>
</html>
