<%- include('./partials/header.ejs'); -%>



 

  <div class="about-main-content">
    <div class="aboutus">
        <h1>Contact</h1>
        <p><%= contactContent %></p>
    </div>
    <div class="side-div">
   <img src="/images/gabriel-heinzer-g5jpH62pwes-unsplash (1).jpg">
    </div>
  </div>


<%- include('./partials/footer.ejs'); -%>