<%- include('./partials/header.ejs'); -%>

<div class="sp-main">


<div class="sp-featured-image">
    <img src="/images/gabriel-heinzer-g5jpH62pwes-unsplash (1).jpg" alt="Post Image">
</div>

<div class="sp-post-title">
    <h2><%= post.title %></h2>
          <p><%= post.body %></p>
</div>







</div>






<%- include('./partials/footer.ejs'); -%>